server:
  port: 8081

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:h2:mem:userdb
    username: sa
    password: sa
    driver-class-name: org.h2.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration/local
    baseline-on-migrate: true
    validate-on-migrate: true

